:root {
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times", serif, "Amiri", "Arial", serif; 
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  text-decoration: none;
  color: #333;
  width: 800px;
  margin: 2em auto;
  padding: 0 2em;
}

p {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

span.pre {
  background: #DDD;
  padding: 0.2em 0.4em;
}

pre {
  margin: 1em 0;
  padding: 0.2em 0.4em;
  background: #ddd;
  white-space: nowrap;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

header {
  width: 800px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 1px dotted;
  border-top: none;
}

nav a {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  color: #000;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: none;
  padding: 0 1em;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, nav a:hover {
  background-color: #000;
  color: white;
}

.home img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin-bottom: 1em;
}

.separator {
  width: 800px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  align-items: start;
  width: 800px;
  text-align: justify;
  margin-bottom: 3em;
}

.content-wrapper.blog,
.content-wrapper.poems {
  margin-top: 20px;
  flex-direction: column;
}

.content-wrapper.blog .content,
.content-wrapper.poems .content {
  min-height: auto;
}

.content-wrapper .aside {
  width: 275px;
  border-left: 1px dotted;
}

.aside .me {
  height: 147px;
}

.aside .me img {
  width: 147px;
  height: 147px;
}

.aside .github-username {
  background: black;
  text-align: center;
  padding: 7px 0;
}

.aside .github-username a {
  color: white;
}

.aside .headline {
  text-align: center;
  font-size: 12px;
}

.aside .elsewhere {
  padding: 0 5px;
}

.aside .elsewhere h5 {
  font-style: italic;
  margin: 7px 0 2px;
}

.aside .elsewhere h4 {
  margin: 0;
}

.aside .elsewhere a {
  font-size: 12px;
}

.aside .elsewhere div {
  margin-bottom: 15px;
}

.content-wrapper .content {
  width: auto;
  min-height: 500px;
  padding-right: 10px;
}

.content-wrapper .title {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

ul li a {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  color: #333;
}

ul li span {
  display: block;
}

.content-wrapper .title span,
main ul li span {
  font-size: 14px;
  color: #555;
  font-weight: var(--font-weight-bold);
}

.content-wrapper .title span {
  display: block;
}

footer {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  width: 800px;
  text-align: justify;
}

footer a {
  color: #666;
}

@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
}

@media only screen and (max-width: 540px) {
  .header p img {
    width: 100%;
    height: auto;
  }
}
