:root {
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url(font/6e2df30bac10d3b6a0e5.woff2) format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  text-decoration: none;
  color: #333;
  width: 60ch;
  margin: 1em auto;
  padding: 0 2em;
}

a {
  display: inline-block;
  color: #15C;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

p {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

span.pre {
  background: #DDD;
  padding: 0.2em 0.4em;
}

pre {
  margin: 1em 0;
  padding: 0.2em 0.4em;
  background: #ddd;
  white-space: nowrap;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: none;
}

.header:hover {
  border-bottom: none;
}

.header p {
  font-size: 20px;
  font-family: "Neue Haas Grotesk Display Pro", serif;
  color: #333;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.logo>img {
  border-radius: 50%;
}

nav {
  display: block;
  margin: 2em 0;
}

nav a {
  margin-right: 1em;
  font-size: 21px;
  color: #333;
  text-transform: uppercase;
}

nav a:last-child {
  margin-right: 0;
}

.home img {
  width: 100%;
}

ul li {
  list-style: none;
  list-style-type: square;
  text-transform: uppercase;
}

.content-wrapper .title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Neue Haas Grotesk Display Pro", serif;
}

.content-wrapper .title span,
main ul li span {
  font-size: 22px;
  color: #555;
  font-weight: normal;
}

.content-wrapper .title span {
  display: block;
}

hr {
  position: relative;
  display: block;
  height: 1.20rem;
  margin: calc(1.20rem * 1.5) 0;
  border: none;
  color: #000;
}

hr::after {
  display: block;
  content: "";
  position: absolute;
  top: calc(1.20rem / 2 - 2px);
  left: 0;
  width: 100%;
  border-top: calc(2px * 3) double #000;
  height: 0;
}

footer {
  font-size: 16px;
  margin-bottom: 3em;
}

@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
}

@media only screen and (max-width: 540px) {
  .header p img {
    width: 100%;
    height: auto;
  }
}
